<app-nav></app-nav>
  <!-- Header Start -->
    <div class="container-fluid bg-primary py-5 mb-5 page-header">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <h1 class="display-3 text-white animated slideInDown">أهلا و سهلا</h1><br>
                    <h1 class="display-3 text-white animated slideInDown"> شكرا لفتحك حساب جديد معنا     </h1>
                   
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->




    <!-- detail Start -->
















<div class="container" >
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
             <form action="process_form_login.php" method="POST" style="margin: 50px;"> 
                <div class="form-group text-md-end"> 
                    <label for="prenom">الإسم و اللقب</label>
                     <input type="text" name="prenom" id="prenom" class="form-control form-control-lg " required> 
                    </div> <br>
                    <div class="form-group text-md-end"> 
                        <label for="prenom">البريد الإلكتروني</label>
                        <input type="text" name="email" id="email" class="form-control form-control-lg" required>
                         </div> <br>
                           <div class="form-group text-md-end">
                               <label for="mdp"> كلمة السر </label>
                                            <input type="password" name="mdp" id="mdp" class="form-control form-control-lg " required> 
                                           </div> <br>
                    <div class="form-group text-md-end"> 
                        <label for="date">   تاريخ الولادة   </label> 
                        <input type="date" name="date" id="date" class="form-control" required> 
                    </div> 
                    <br>
                    <div class="form_col text-md-end">  :  عزيزي الزائر هل أنت     
                    </div>
                    <div class="form_col text-center" required>
                    <label><input name="type" type="radio" value="معلم">معلم </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <label><input name="type" type="radio" value="وليّ">وليّ</label>
                </div>
    


    <div class="mt-5 text-center">
    <input type="submit" class="btn btn-primary" value=" فتح حساب">
</div>










 <!-- Header End -->

    

    